//-------------------------------------------------配色方案-------------------------------------------------
//……………………灰白配色方案…………………………………………
$default_white:white;
$default_soft: #e6e6e6;
$default_light: #c0c0c0;
$default_gray: #808080;
$default_heavy_gray: #606060;
$default_dark: #404040;
$default_black:black;
//……………………蓝色配色方案…………………………………………
$blue_normal:#3498db;
$blue_light: #3bafff;
$blue_dark: #2980b9;
//……………………绿色配色方案…………………………………………
$green_normal: #2ecc71;
$green_light: #3aff8f;
$green_dark: #27ae60;
//……………………青绿配色方案…………………………………………
$cyan_normal: #1abc9c;
$cyan_light: #22ffd4;
$cyan_dark: #16a085;
//……………………橙色配色方案…………………………………………
$orange_normal: #e67e22;
$orange_light: #ffa032;
$orange_dark: #d35400;
//……………………红色配色方案…………………………………………
$red_normal: #e74c3c;
$red_light: #ff5a50;
$red_dark: #c0392b;
//……………………深蓝配色方案…………………………………………
$heavy_normal: #34495e;
$heavy_light: #567187;
$heavy_dark: #2c3e50;
