@import "../../default-style/global-style-value";

.default-date-range-select{
  position: relative;
  width: 16rem;
  height: auto;
  background-color: $default_white;
  display: flex;
  flex-direction: column;
  line-height: normal;
  .range-title{
    position: relative;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .week-container{
    position: relative;
    height: 2rem;
    background-color: $default_soft;
    border-bottom: 1px solid $cyan_normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    span{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      color: $cyan_normal;
    }
  }
  .range-day-container{
    position: relative;
    max-height: 14rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    .range-day-area{
      position: relative;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 0.5rem;
      .days-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .days-row{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .day{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid transparent;
            background-color: transparent;
            transition: background-color 0.3s, color 0.3s, border 0.3s;
          }
          .day:hover{
            border-color: $cyan_normal;
          }
          .day:active{
            background-color: $cyan_normal;
          }
          .day-selected{
            color: $default_white;
            background-color: $cyan_normal;
          }
          .out-day{
            pointer-events: none;
            color: $default_gray;
          }
          .in-range-day{
            background-color: rgba(26, 188, 156, 0.3);
          }
        }
      }
    }
  }
  .date-select-year-month{
    position: relative;
    height: 2rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    .change-button-container{
      display: inline-flex;
      .change-button{
        cursor: pointer;
        color: $cyan_normal;
        transition: color 0.3s;
      }
      .change-button:hover{
        color: $cyan_light;
      }
      .change-button:active{
        color: $cyan_dark;
      }
    }
  }
  .date-select-days{
    position: relative;
    width: 100%;
    height: auto;
    .days-container{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-bottom: 0.5rem;
      .day{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: transparent;
        transition: background-color 0.3s, color 0.3s, border 0.3s;
      }
      .out-day{
        color: $default_gray;
      }
      .day:hover{
        border-color: $cyan_normal;
      }
      .day:active{
        background-color: $cyan_normal;
      }
      .day-selected{
        color: $default_white;
        background-color: $cyan_normal;
      }
    }
  }
}